.container {
    background-color: wheat;
    margin: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 11px;
    padding-top: 5vh;
    height: 100vh;
}

.header {
    font-size: 45px;
    font-weight: 900;
    font-family: monospace;
    color: brown;
    width: 90vw;
    text-align: center;
}

.round-label {
    font-size: 34px;
    color: brown;
    font-weight: 900;
    font-family: monospace;
}

.round-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1vw;
}

.error {
    font-size: 22px;
    color: green;
    font-weight: 700;
    font-family: monospace;
    padding-right: 20px;
    padding-left: 20px;
    text-align: center;
}

.round-buttons {
    display: flex;
    flex-direction: row;
    gap: 6.5px;
    padding-left: 8px;
}

.round-button {
    width: 50px;
    height: 50px;
    border-radius: 440px;
    border: none;
    background-color:beige;
    font-family: monospace;
    color: brown;
    font-weight: 900;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-wrapper {
    display: flex;
    flex-direction: row;
}

.image {
    width: 100px;
}

.players {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.add-button {
    border:none;
    margin-top: 20px;
    width: 80vw;
    height: 60px;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: brown;
    color: wheat;
    font-family: monospace;
    font-size: 27px;
    font-weight: 800;
}

.start-button {
    border:none;
    width: 80vw;
    height: 60px;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: brown;
    color: wheat;
    font-family: monospace;
    font-size: 30px;
    font-weight: 800;
}

.abs-buttons {
    position: absolute;
    bottom: 35px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}