.playerscore__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 78vw;
}

.playerscore__p {
    font-size: medium;
    font-weight: 800;
    font-size: 26px;
    font-family: monospace;
}

.playerscore__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.playerscore__button {
    margin-top: 2px;
    margin-bottom: 2px;
    width: 45px;
    height: 45px;
    border-radius: 440px;
    border: none;
    background-color: beige;
    font-family: monospace;
    color: brown;
    font-weight: 900;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}