.playerinfo__container {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.playerinfo__input {
    background-color: transparent;
    outline: none;
    border-right: none;
    border-left: none;
    border-top: none;
    border-bottom: 2px solid black;
    font-family: monospace;
    font-size: 20px;
    width: 180px;
}

.playerinfo__button {
    background-color: wheat;
    width: 30px;
    height: 30px;
    border: none;
    font-family: monospace;
    color: brown;
    font-weight: 900;
    font-size: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
}