.scoreboard__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    gap: 6px;
    font-family: monospace;
    font-weight: 800;
    font-size: 30px;
    width: 78vw;
}

.space {
    padding-bottom: 10px;
}